{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<!-- Summarization of Information block -->
<div class="container vh-100 d-flex align-items-start justify-content-center mt-5 pt-5">
  <div class="row w-100">
    <div class="col-md-2">
      <div class="shadow-sm bg-white w-auto rounded h-auto">
        <div class="border border-primary p-3 w-auto">
            <div class="d-flex justify-content-center mb-3">
                <div class="p-2 bd-highlight">Name</div>
                <div class="p-2 bd-highlight">
                    <span class="border-bottom d-inline-block w-100"></span>
                </div>
            </div>
        </div>
      </div>
    </div>

    <!-- Other/Expanded Information Container block -->
    <div class="col-md-10">
      <div class="shadow-sm bg-white rounded w-auto h-auto">
        <div class="border border-danger p-3 w-100">
            <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-2 bd-highlight">
                    Surname: <span class="border-bottom d-inline-block w-100"></span>
                </div>
                <div class="p-2 bd-highlight">
                    First Name: <span class="border-bottom d-inline-block w-100"></span>
                </div>
                <div class="p-2 bd-highlight">
                    Middle Name: <span class="border-bottom d-inline-block w-100"></span>
                </div>
            </div>
            <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-2 bd-highlight">
                    College Year: <span class="border-bottom d-inline-block w-100"></span>
                </div>
                <div class="p-2 bd-highlight">
                    Course: <span class="border-bottom d-inline-block w-100"></span>
                </div>
                <div class="p-2 bd-highlight">
                    Current Section: <span class="border-bottom d-inline-block w-100"></span>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}

{% endblock %}